

<!--calendar stylesheet -->
<link rel="stylesheet" type="text/css" media="all" href="<?php echo base_url()?>js/JsCalendar/skins/aqua/theme.css" title="Aqua" />
<!--import the calendar script -->
<script type="text/javascript" src="<?php echo base_url()?>js/JsCalendar/calendar_stripped.js"></script>
<!--import the language module-->
<script type="text/javascript" src="<?php echo base_url()?>js/JsCalendar/lang/calendar-ZHT.js"></script>
<!--  the following script defines the Calendar.setup helper function, which makes adding a calendar a matter of 1 or 2 lines of code.  -->
<script type="text/javascript" src="<?php echo base_url()?>js/JsCalendar/calendar-setup_stripped.js"></script>
<script type="text/javascript" src="<?php echo base_url()?>js/date.js"></script>